$book-shelf: url("../img/css-room-escape-book-shelf.png");
$closet: url("../img/css-room-escape-closet.png");
$closet-door: url("../img/css-room-escape-closet-door.png");
$conceal-floor: url("../img/css-room-escape-conceal-floor.png");
$conceal-tree: url("../img/css-room-escape-conceal-tree.png");
$desk: url("../img/css-room-escape-desk.png");
$door: url("../img/css-room-escape-door.png");
$door-way: url("../img/css-room-escape-door-way.png");
$finish: url("../img/css-room-escape-finish.png");
$floor-vase: url("../img/css-room-escape-floor-vase.png");
$flower-vase: url("../img/css-room-escape-flower-vase.png");
$frame: url("../img/css-room-escape-frame.png");
$front: url("../img/css-room-escape-front.png");
$instructions: url("../img/css-room-escape-instructions.png");
$key: url("../img/css-room-escape-key.png");
$lamp: url("../img/css-room-escape-lamp.png");
$map: url("../img/css-room-escape-map-background.png");
$mat: url("../img/css-room-escape-mat.png");
$navigation: url("../img/css-room-escape-navigation.png");
$scissors: url("../img/css-room-escape-scissors.png");
$stage-label: url("../img/css-room-escape-stage-label.png");
$wall-clock: url("../img/css-room-escape-wall-clock.png");
$window: url("../img/css-room-escape-window.png");
$window-curtain: url("../img/css-room-escape-window-curtain.png");
